.header {

    display: flex;
    height: 110vh;
    justify-content: center;
    padding: 55% 5% 0;
    background-image: url(/imgs/casey-horner-mPnxwQBtUZE-unsplash.jpg);
    background-size: cover;
    

}