@import "./base";
@import "./components";
@import "./layout";

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    align-items: center;
    line-height: 1;
    transition: ease-in-out 0.3s;
    z-index: 2;

    .div-logo {
        transform: rotate(-5deg);
        padding: 1rem 1rem;
    }

    .logo {
        font-family: $font-cursive;
        font-size: 1.9rem;
    }


    .navList {
        font-size: 1.3rem;
        margin: 0;
    }

    .listItem {
        display: inline-block;
        list-style-type: none;
        padding: 10px 10px;

        a:hover {
            color: $color-alt;
        }
    }

    .menu {
        border: solid 0.25px $color-white;
        padding: 5px;
        border-radius: 6px;
        display: none;
    }

    .menu-line {
        height: 3px;
        width: 20px;
        background-color: $color-white;
        margin: 3px auto;
    }
}

.nav-active {
    background-color: $color-opaque;
    transition: ease-in-out 0.3s;
}

/* mobile phone breakpoint */

@media all and (max-width: 490px) {
    .navbar {
        flex-direction: column;

        .menu {
            display: block;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }

        .menu:hover {
            cursor: pointer;
        }

        .navList {
            width: 100%;
            display: none;
        }

        .listItem {
            display: block;
            border-top: 1px solid $color-white;
            text-align: center;
        }

        .listItem:last-child {
            border-bottom: 1px solid $color-white;
        }

        .div-logo {
            width: 100%;
            margin-bottom: 24px;
            padding: 0;
        }

        .active {
            display: block;
        }
    }
}

/* tablet media query breakpoint */

@media all and (min-width: 768px) {
    .navbar .navList {
        font-size: 1.6rem;
    }

    .navbar .logo {
        font-size: 2.4rem;
    }

    .navbar .listItem {
        padding: 10px 24px;
    }
}


/* desktop media query breakpoint */

@media all and (min-width: 1024px) {
    .navbar .navList {
        font-size: 2rem;
    }

    .navbar .logo {
        font-size: 3rem;
    }

    .navbar .listItem {
        padding: 10px 36px;
    }
}

.header {

    display: flex;
    height: 110vh;
    justify-content: center;
    padding-top: 55%;
    background-image: url(/imgs/casey-horner-mPnxwQBtUZE-unsplash.jpg);
    background-size: cover;

    .intro {
        text-align: center;

        &__heading {
            font-size: 1.45rem;
        }

        &__subheading {
            font-family: $font-cursive;
            font-size: 1.9rem;
        }

        &__icon-div {
            font-size: 1.6rem;
            margin-top: 80%;

        }

        &__icon {
            display: block;
            margin-top: 5%;
        }
    }
}

#shuttle {
    transform: rotate(90deg);
    z-index: 1;
}

/* Section "About" */

.about {

    &__title-con {
        display: flex;
        justify-content: center;
        padding: 50% 0 12%;
        /* top, horizontal, bottom */
    }

    &__img-div {
        margin: 16% auto 0;
        position: absolute;
        left: 0;
        right: 0;
    }

    &__icon-div {
        font-size: 1.6rem;
        margin-top: 10%;
    }

    &__text-container {
        background-color: $color-primary;
        padding: 50% 10% 20%;
    }
}

/* Section "Projects" */

.projects {

    background-color: $color-secondary;
    text-align: center;

    &__heading {
        padding-top: 30%;
    }

}

/* General Classes for Elements */

.project-card {
    padding: 10% 10%;

    &__img-div {
        margin: 10% auto;
    }

    &__heading {
        font-weight: 700;
        margin-bottom: 10%;
    }
}

.text-container {
    text-align: center;
}

.img-div {
    height: 200px;
    width: 200px;
    background-color: $color-alt;
    border-radius: 100%;
    border: solid 2px $color-highlight;
}

.icon {
    padding: 6%;
}

.heading {
    font-size: 2rem;
    font-family: $font-display;
}

body {
    background-color: $color-black;
}

.wave {
    background-color: $color-primary;
    vertical-align: top;
}