@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato:wght@400;700&family=Seymour+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  color: #ede7e3;
}

a:link,
a:visited {
  text-decoration: none;
  color: unset;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  align-items: center;
  line-height: 1;
  transition: ease-in-out 0.3s;
  z-index: 2;
}
.navbar .div-logo {
  transform: rotate(-5deg);
  padding: 1rem 1rem;
}
.navbar .logo {
  font-family: "Caveat", cursive;
  font-size: 1.9rem;
}
.navbar .navList {
  font-size: 1.3rem;
  margin: 0;
}
.navbar .listItem {
  display: inline-block;
  list-style-type: none;
  padding: 10px 10px;
}
.navbar .listItem a:hover {
  color: #AE3C57;
}
.navbar .menu {
  border: solid 0.25px #ede7e3;
  padding: 5px;
  border-radius: 6px;
  display: none;
}
.navbar .menu-line {
  height: 3px;
  width: 20px;
  background-color: #ede7e3;
  margin: 3px auto;
}

.nav-active {
  background-color: rgba(1, 77, 100, 0.9);
  transition: ease-in-out 0.3s;
}

/* mobile phone breakpoint */
@media all and (max-width: 490px) {
  .navbar {
    flex-direction: column;
  }
  .navbar .menu {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  .navbar .menu:hover {
    cursor: pointer;
  }
  .navbar .navList {
    width: 100%;
    display: none;
  }
  .navbar .listItem {
    display: block;
    border-top: 1px solid #ede7e3;
    text-align: center;
  }
  .navbar .listItem:last-child {
    border-bottom: 1px solid #ede7e3;
  }
  .navbar .div-logo {
    width: 100%;
    margin-bottom: 24px;
    padding: 0;
  }
  .navbar .active {
    display: block;
  }
}
/* tablet media query breakpoint */
@media all and (min-width: 768px) {
  .navbar .navList {
    font-size: 1.6rem;
  }

  .navbar .logo {
    font-size: 2.4rem;
  }

  .navbar .listItem {
    padding: 10px 24px;
  }
}
/* desktop media query breakpoint */
@media all and (min-width: 1024px) {
  .navbar .navList {
    font-size: 2rem;
  }

  .navbar .logo {
    font-size: 3rem;
  }

  .navbar .listItem {
    padding: 10px 36px;
  }
}
.header {
  display: flex;
  height: 110vh;
  justify-content: center;
  padding-top: 55%;
  background-image: url(/imgs/casey-horner-mPnxwQBtUZE-unsplash.jpg);
  background-size: cover;
}
.header .intro {
  text-align: center;
}
.header .intro__heading {
  font-family: "Seymour One", sans-serif;
  font-size: 1.45rem;
}
.header .intro__subheading {
  font-family: "Caveat", cursive;
  font-size: 1.9rem;
}
.header .intro__icon-div {
  font-size: 1.6rem;
  margin-top: 80%;
}
.header .intro__icon {
  display: block;
  margin-top: 5%;
}

#shuttle {
  transform: rotate(90deg);
  z-index: 1;
}

body {
  height: 180vh;
  background-color: #014d64;
}