@import "./base";
@import "./components";
@import "./layout";


/* mobile phone breakpoint */

@media all and (max-width: 490px) {
    .navbar {
        flex-direction: column;

        &__menu {
            display: block;
            position: absolute;
            right: 1rem;
            top: 1rem;
        }

        &__menu:hover {
            cursor: pointer;
        }

        &__navList {
            width: 100%;
            display: none;
        }

        &__listItem {
            display: block;
            border-top: 1px solid $color-white;
            text-align: center;
        }

        &__listItem:last-child {
            border-bottom: 1px solid $color-white;
        }

        &__div-logo {
            width: 100%;
            margin-bottom: 24px;
            padding: 0;
        }

        .active {
            display: block;
        }
    }
}

/* tablet media query breakpoint */

@media all and (min-width: 768px) {

    * {
        font-size: 1.3rem;
    }

    .header {
        padding-top: 40%;
    }

    i {
        font-size: 140%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .img-div {
        height: 330px;
        width: 330px;
        border: solid 3px $color-highlight;
    }

    .navbar {

        &__logo {
            font-size: 2.4rem;
        }

        &__listItem {
            padding: 10px 24px;
        }
    }

    .intro {

        &__heading {
            font-size: 166%;
        }

        &__subheading {
            font-size: 200%;
        }

        &__icon-div {
            margin-top: 38%;
        }
    }

    .about {

        &__title-con {
            padding-top: 40%;
        }

        &__img-div {
            margin-top: 14%;
        }

        &__text-container {
            padding-top: 40%;
        }

        &__icon {
            padding: 8%;
        }
    }

    .projects {

        &__heading {
            padding-top: 12%;
        }
    }

    .project-card {
        padding-top: 5%;
    }

    .footer {
        background-color: $color-tertiary;
    }
}


/* desktop media query breakpoint */

@media all and (min-width: 1024px) {
    .navbar {

        &__navList {
            font-size: 2rem;
        }

        &__logo {
            font-size: 3rem;
        }

        &__listItem {
            padding: 10px 36px;
        }
    }
}